@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap');
html {
    font: 14px/1.2 Inter, sans-serif;
}

body, input, textarea, button, option, select, table, th, td {
    font: inherit;
}

p, ul, ol, dl {
    text-decoration: none;
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5em;
    line-height: 1.2;
}

h1 { font-size: 3.0em; }
h2 { font-size: 2.4em; }
h3 { font-size: 1.8em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1.0em; }

img {
    display: block;
    width: 100%;
    height: auto;
}