.mainStyle {
    
    background-color: #e4e978;
    width: 700px;
    margin: 15px 10px;
}

.firstSection {
    padding: 5px  15px;
    background-color: #f2f4c0;
    border: 1px solid #b2ad7d;
    margin: 15px 10px;
}

.commentSection {
    padding: 5px  15px;
    font-style: italic;
    color: #5c6e91;
    background-color: #f2f4c0;
    border: 1px solid #b2ad7d;
    margin: 15px 10px;
}