.headerH1{
    font-size: 28px;
    }
    
    .headerP{
        font-style: italic;
    }
    
    .bodyP{
    font-size: 24px;
    }
    
    body{
        margin: 0px;
        padding: 0px;
        background-color: #CCCCCC;
    }
    
    section{
        margin-left: 20px;
    }