@import 'https://use.fontawesome.com/releases/v5.6.3/css/all.css';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #eee;
}

ul{
    display: inline-block;
}

li{
    display: inline-block;
}

a{
    border-radius: 50%;
    background-color: #fff;
    color: black;
}

a:hover{
    background: black;
    color:#eee
}