@{
    ViewBag.Title = "About Page";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>This is the About Page for our first ASP .NET Core MVC App.</p>

<a asp-controller="Home" asp-action="Index" class="btn btn-outline-danger">Go to Home Page</a>