@{
    ViewData["Title"] = "Seminars";
}
<h1>@ViewData["Title"]</h1>

<p>This page will host free events from SoftUni together with leading experts and they will be talking about the IT sector.</p>

