html{
    font-family: Helvetica, sans-serif;
    line-height: 1.5;
}

body{
    font: inherit;
}

h2{
    font-family: Georgia, serif;
    line-height: 1.2;
    font-weight: normal;
    font-size: 2.2em;
}

section{
    display: flex;
    justify-content: space-between;
    max-width: 70vw;
    margin: 5em auto;
    gap: 3em;
}