@media (max-width: 600px) {

    /* Header Navigation */
    header nav {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;   
    }

    header nav ul {
        display: block;  
        text-align: center;
        padding: 0;
        list-style-type: none; 
    }

    header nav ul li {
        display: block; 
        padding: 0.2em 0; 
    }

    header nav ul li a {
        display: block;
        padding: 0.2em;
        font-size: 1em;  
    }

    /* Header Title */
    .header-title h1 {
        font-size: 28px;
    }

    .header-title p {
        font-size: 16px;
    }
    .header-title{
        margin: 0;
        padding: 0;
        margin-bottom: 25px;
    }

    /* Team Description */
    .team-description ul {
        flex-direction: column;
    }

    .team-description ul li {
        margin-bottom: 1em;
    }

    .team-description ul li img {
        width: 100%;
    }

    .team-description ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        margin-bottom: -20px;
    }

    .team-description ul li {
        flex: 0 0 calc(45% - 10px);  
        margin: 5px;  
        text-align: center;
       margin-bottom: 40px;
       position: relative;  
       padding-top: 4%; 
       overflow: hidden; 
    }

    .team-description ul li img {
        width: 100%; 
        height: 100%; 
        object-fit: cover;
        display: block; 
        margin: 0 auto; 

    }

    .team-description p{
        color: gray;
    }


    /* About Us */
    .about-us p:nth-child(3) {
        width: 100%;
    }


    /* Choose Us */
    .choose-us ul {
        flex-direction: column;
    }

    .choose-us li {
        flex: 1 0 40%; 
        padding: 0 10px; 
         
    }
    
    .choose-us p {
        font-size: 18px; 
        line-height: 1.5; 
        display: flex;
        white-space: normal;
        overflow-wrap:break-word;
        font-size: 18px;
    }

    /* Blog News */
    .blog-news ul {
        flex-direction: column;
    }

    .blog-news ul .item {
        flex: 1;
        margin-bottom: 1em;
    }

    .blog-news ul .item .avatar, 
    .blog-news ul .item .content {
        width: 100%;
    }

    .blog-news .content {
        padding: 1em;
    }

    .blog-news ul {
        display: flex;
        justify-content: space-between; 
        padding-top: 2rem;
        margin: 0 auto; 
        max-width: 90%; 
      }
      
      .blog-news ul .item {
        list-style: none outside;
        display: flex;
        text-align: center;
        flex: 0 0 50%; 
        box-shadow: 0 0.3rem 1rem 0.3rem rgba(0,0,0,0.3); 
        margin: 20px;
        margin-bottom: 10px;
      }

      .blog-news ul .item .avatar img {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover; 
      }

      .content p {
        color: gray;
        font-size: 18px;
      }

      .item h4{
        font-size: 18px;
      }

      footer{
        color: lightgray;
      }

}
